.container {
    background-color: white;
    display:flex;
    border-radius: 1rem;
    flex-direction: column;
    justify-content:top;
    align-items: center;
    /* gap: .5rem; */
    width: 62.5rem;
    height: 90vh;
    min-height: 90vh;
}


.container div:nth-of-type(1) {
  /*Section*/
  align-content: flex-start;
  font-family: "Diplomata SC", sans-serif;
}

.container #btnNext {
    flex-grow: 0;
    /* flex-basis: 200px; */
}

.pickup-area {
    display: flex; 
    justify-content: center;
    align-items: center;
}
.pickup-area div {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.workshop {
    display: flex;
    gap:  4rem;
}

.drop-side {
    display: flex;
    /* background-color: antiquewhite; */
    width: 340px;
    height: 340px;
    align-items: center;
    justify-content: center;
}
.drop-area {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(107, 230, 113); */

    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    width: 200px;
}

.box {
    height: 92px;
    width: 92px;
    border: solid 3px #ccc;


    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.drag-over {
    border: dashed 3px red;
}

.item {
    height: 100px;
    width: 100px;
}

.hide {
    display: none;
}

.drop-area p { position: absolute;}

.pattern-side {
    display: flex;
    /* background-color: antiquewhite; */
    width: 340px;
    height: 340px;
    align-items: center;
    justify-content: center;
}
#lineV {
    width: 50px;
    text-align: center;
}

nav {
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    /* font-weight:bolder; */
    width: 62.5rem;
}

ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    align-items: baseline;
    padding: 0px;
    margin: 0;
}


li#section {
    margin-right: auto;
}

li#time {
    min-width: 4rem;
}


button {
    border: none;
    color: white;
    padding: .5rem;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Sofia", sans-serif;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;

}

.button1 {
    background-color: #544caf;
    border: 2px solid white;
}

.button1:hover:not(:disabled) {
    background-color: white;
    color: #544caf;
    border: 2px solid #544caf;
}

button:disabled {
    background-color: rgb(160, 160, 160);
    border-style: outset;
    border-color: rgb(244, 244, 244);
    font-family: "Sofia", sans-serif;
    color: rgb(244, 244, 244);
}
